.nav {
  display: flex;
  justify-content: start;
  flex-flow: row nowrap;
}

@media (max-width: 768px) {
  .nav {
    z-index: 10;
    transform: translateX(100%);
    flex-flow: column nowrap;
    background: radial-gradient(
      circle,
      rgba(15, 2, 8, 1) -20%,
      rgba(148, 187, 233, 1) 90%
    );
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    padding-top: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .nav.open {
    transform: translateX(0%);
  }
}
